
body {

  color: #444;
  background-color: #C6D8AF;

}
 .product {

            margin: auto;
            background-color: #f2f2f2;
            width: 80%;

        }
 .content {

            margin: auto;
            background-color: #f2f2f2;
            width: 80%;
        }

 .title {
    text-align: center;
    border: 3px solid green;
     width: 80%;
      margin-left: 9.8%;

}
 a {
  color: black;

}
 a:visited {
  background-color: cyan;
}

/*
 * Formatting the header area

/* The navigation bar */
.navbar {
  margin-left: 9.5%;

  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 80%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 70px; /* Add a top margin to avoid content overlay */
}

h1 {
  color: #333333;
  text-align: center;
}

